#
# vim:sw=2 ts=8:et sta
#
#  $MyBSD: src/gelojoh/ssl.cnf,v 1.2 2004/05/17 02:37:45 skywizard Exp $
#
# SSLeay example configuration file.
#

[req]
default_bits = 1024
encrypt_key = yes
distinguished_name = req_dn
x509_extensions = cert_type
prompt = no

[req_dn]
C=MY
ST=Kuala Lumpur
L=Malaysia
O=MyBSD
OU=kasumi
CN=MyBSD
emailAddress=lamer@MyBSD.org.my

[cert_type]
nsCertType = server
